.InteractionContainer {
    width: 30%;
    background-color: var(--InteractionContainerColor);
    border-radius: 30px 0 0 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ActionButtonContainer {
    width: calc(90% - 4px);
    height: 20%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.ActionButtonContainerRow1 {
    width: 100%;
    display: flex;
    justify-content: space-between;

    flex-direction: row;
}

.ActionButtonContainerRow2 {
    width: 100%;
    display: flex;
    justify-content: center;

    flex-direction: row;
}

@media (max-width: 600px) {
    .InteractionContainer {
        height: 30%;
        width: 100%;
        border-radius: 0 0 30px 30px;
    }

    .ActionButtonContainer {
        height: 60%;
        margin: 3%;
    }
}

@media (max-width: 600px) and (max-height: 720px) {
    .InteractionContainer {
        width: 100%;
        height: 40%;
    }
}

.ActionButton {
    border-radius: 5px;
    border: none;
    box-shadow: var(--DefaultShadow);
    background-color: var(--Disabled-BackGround-color-Action-Button, #2e4655);
    color: white;
    font-size: clamp(2px, calc(1vw + 0.5vh), 30px);
    width: 45%;
    padding: 2px;
    aspect-ratio: 16/7;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: var(--Disabled-Font-Color-Action-Button, white);
}

@media (max-width: 600px) {
    .ActionButton {
        width: 45%;
        aspect-ratio: 16/3;
    }
}
