.BlackJack {
  width: clamp(45%, 900px, 90%);

  height: clamp(50%, 1100px, 80%);

  background-color: var(--BaseColor);
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

.headerContainer {
  width: clamp(30%, 300px, 40%);
  height: 20%;
}
.dealerCardContainer {
  width: 100%;
  height: 25%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--BaseColor);
}
.playerCardContainer {
  width: 100%;
  height: 25%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--BaseColor);
}
.playButtons {
  width: 80%;
  height: 50%;
  position: relative;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 45, 68);
}
.CenterContainer {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes GoCenter {
  0% {
  }
  100% {
    transform: translateX(calc(var(--card-right) - 5%));
  }
}

@media (max-height: 350px) {
  .BlackJack {
    min-height: 350px;
  }
}
@media (max-height: 500px) {
  .headerContainer {
    display: none;
  }
  .dealerCardContainer {
    height: 35%;
  }

  .playerCardContainer {
    height: 35%;
  }
}
@media (max-width: 500px) {
  .BlackJack {
    height: 50%;
  }

  .dealerCardContainer {
    height: min(20vw, 20%);
  }
  .playerCardContainer {
    height: min(20vw, 20%);
    position: absolute;
    bottom: 0%;
  }
}
