.BetContainer {
  width: 100%;
  height: 15%;
  display: flex;

  justify-content: flex-start;
  flex-direction: column;
  font-weight: bolder;
}
.BetContainer div {
  display: flex;
  height: 100%;
}
.BetContainer div p {
  font-size: var(--InteractionContainerFontSize);
  color: rgb(154, 168, 190);
}
.BetAmount {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-top: clamp(10px, calc(1vw + 0.5vh), 15px);
  margin-left: clamp(10px, calc(1vw + 0.5vh), 15px);
}
.MoneyLeft {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-top: clamp(10px, calc(1vw + 0.5vh), 15px);
  margin-right: clamp(10px, calc(1vw + 0.5vh), 15px);
}
.BetInputQuickBetContainer {
  background-color: var(--QuickBetButtonColor);
  width: 100%;
  padding: 2px;
}
.BetInputContainer {
  width: 70%;
  height: 100%;

  position: relative;
}

.BetInputContainer::before {
  content: "$";
  background-color: var(--BetButtonColor);
  display: flex;
  aspect-ratio: 1/1;
  height: 50%;

  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--InteractionContainerFontSize);
  border-radius: 30px;
}
.BetInput {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  border: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.QuickBetContainer {
  width: 30%;
  position: relative;
}
.QuickBetContainer::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50%;
  width: 2px;
  border-radius: 5px;
  height: 80%;
  background-color: black;
}
.QuickBetContainer button {
  background-color: var(--QuickBetButtonColor);
  width: 50%;
  border: none;
  font-size: var(--InteractionContainerFontSize);
  color: white;
}
