.cardContainer {
  position: absolute;
  top: min(20vw, 150px);
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: clamp(15%, 100px, 20%);
  height: min(35vw, 200px);

  background-color: white;

  border-radius: 5px;
  margin: 2px;

  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
  animation-name: GetACard;
  animation-fill-mode: forwards;
}

@keyframes GetACard {
  0% {
  }
  100% {
    top: calc(100% - min(35vw, 200px));
    right: var(--card-right);
  }
}

.symbolContainer {
  width: 80%;
}

.numberContainerTop {
  font-size: max(0.8rem, calc(1rem - 5vw));
  position: absolute;
  top: 0;
  right: 0;
}

.numberContainerBottom {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
  direction: rtl;
}
