.Shaker {
  animation: ShakeCard 200ms cubic-bezier(0.35, 0.16, 0, 1.02);
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

@keyframes ShakeCard {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(60deg);
  }
  80% {
    transform: rotateZ(-60deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}
